.bgSection {
    background-color: #E1F8D7;
    /* background-image: url('../public/images/aboutbg.webp'); */
    backdrop-filter: brightness(0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.smBgSection {
    text-align: center;
    padding: 160px 27px;
}

.lgBgSection {
    padding: 200px 0 150px 0;
}

.h1, .h1 > * {
    color: #121212;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 40px;
}

.green {
    color: #066404;
}

.yellow {
    color: #FF9900;
}

.herotext {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.explore {
    padding: 66px 112px 109px 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px;
}

.col {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 180px;
}

.h2, .h2 > * {
    color: #000000;
    font-size: 50px;
    font-weight: 400;
}

.col button {
    width: 285px;
    cursor: pointer;
}

.faqs {
    padding: 50px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #066404;
}

.row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.white {
    color: white;
}

.col2 {
    display: flex;
    flex-direction: column;
}

.card {
    background: #FFFFFF;
    width: 700px;
}