$primaryGreen: #066404;
$primaryYellow: #FF9900;
$bgGreen: #F3FFED;


.green {
  color: $primaryGreen;
}

.yellow {
  color: $primaryYellow;
}

.bgGreen {
  background-color: $bgGreen;
}
/* ----------------------------{ Loud Section }------------------------------- */
.loudSection {}

.lgLoudSection {}

.smLoudSection {}
/* ----------------------------{ /Loud Section }------------------------------- */
