.bgSection {
  background-image: url('../public/images/homebg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bgSection p {
  margin-bottom: 20px;
}

.smBgSection {
  text-align: center;
  padding: 160px 27px;
}

.lgBgSection {
  padding: 150px 115px;
}

.lgBgSection p {
  max-width: 520px;
}

.smBgSection h1 {
  font-size: 3rem;
}

.lgBgSection h1 {
  font-size: 4rem;
}